.titulo{

display: flex;
text-align: center;
align-items: center;
align-content: center;
align-self: center;
justify-content: center;

}

.subtitulos{
    
display: flex;
text-align: center;
align-items: center;
align-content: center;
align-self: center;
justify-content: space-evenly;
}