h1{
    font-size: 2rem;
}

h2{
    font-size: 1rem;
}

.titulo{

display: flex;
text-align: center;
align-items: center;
align-content: center;
align-self: center;
justify-content: center;

}

.subtitulos{
    
display: flex;
text-align: center;
align-items: center;
align-content: center;
align-self: center;
justify-content: space-evenly;
}

.formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
   

}


.iconosContacto{
    display: flex;
align-items: center;
justify-content: space-between;

}
.iconosContacto img {
height: 2rem;
}
.facebook{
  
}